<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

	<!--This bundle was moved by the Telerik VS Extensions for compatibility reasons-->
	@Scripts.Render("~/bundles/jquery")
	<link href="https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.common.min.css" rel="stylesheet" type="text/css" />
	<link href="https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.mobile.all.min.css" rel="stylesheet" type="text/css" />
	<link href="https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.default.min.css" rel="stylesheet" type="text/css" />
	<link href="https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.rtl.min.css" rel="stylesheet" type="text/css" />
	<script src="https://kendo.cdn.telerik.com/2017.2.621/js/jquery.min.js"></script>
	<script src="https://kendo.cdn.telerik.com/2017.2.621/js/jszip.min.js"></script>
	<script src="https://kendo.cdn.telerik.com/2017.2.621/js/kendo.all.min.js"></script>
	<script src="https://kendo.cdn.telerik.com/2017.2.621/js/kendo.aspnetmvc.min.js"></script>
	<script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("J&J Admin", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Salidas por servicios", "Index", "ServiceMovement")</li>
                    <li>@Html.ActionLink("Otras salidas", "Index", "Expense")</li>
                    <li>@Html.ActionLink("Entradas", "Index", "Income")</li>
                    <li>@Html.ActionLink("Tipos de movimientos", "Index", "MovementType")</li>
                    <li>@Html.ActionLink("Cargos", "Index", "EmployeePosition")</li>
                    <li>@Html.ActionLink("Cuentas financieras", "Index", "FinancialAccount")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - J & J Servicios Electrónicos e Informáticos</p>
        </footer>
    </div>
    <script type="text/javascript">

        function onSaveChanges(e) {
            e.sender.one("dataBound", function() {
                e.sender.dataSource.read();
            });
        };

    </script>
    
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


<script type="text/javascript">

    function movementTypesFilter(element) {
        element.kendoAutoComplete({
            dataSource: {
                transport: {
                    read: "@Url.Action("GetMovementTypes", "Ajax")"
            }
        }
        });
    }    

    function employeesFilter(element) {
        element.kendoAutoComplete({
            dataSource: {
                transport: {
                    read: "@Url.Action("GetEmployees", "Ajax")"
            }
        }
        });
    }    


</script>

</body>
</html>
