@using JJServicios.Web.AuthenticationHelper
@using Microsoft.AspNet.Identity


@if (!string.IsNullOrEmpty(AuthenticationHelper.GetToken()))
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hola " + @AuthenticationHelper.GetUserName(),"ChangePassword", "Manage")
        </li>
        <li>
            @Html.ActionLink("Salir","Logout","Account")
        </li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @*<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
